{%extends "base.html"%}{%block title%}
<title>Sign In</title>
{%endblock%} {%block content%}
<!-- Begin content here -->
<h1>Feedback</h1>
<!-- Flash messages -->
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p>{{message}}</p>
{% endfor %} {% endif %} {%endwith%}
<!-- content if user is logged in -->
{% if 'username' in session%}
<a href="/logout" id="logout">Logout</a>
<br />
<div id="profile-div">
  <h2>User Profile Information</h2>

  <form action="/users/{{user.username}}/delete" method="POST">
    <button type="submit">Delete User</button>
  </form>
  <p>Username: {{user.username}}</p>
  <p>Email: {{user.email}}</p>
  <p>first name:{{user.first_name}}</p>
  <p>Last name: {{user.last_name}}</p>
</div>

<div id="feedback-div">
  <h3>Feedback</h3>
  <form action="/users/{{user.username}}/feedback/add" method="get">
    <button type="submit">Add Feedback</button>
  </form>
  <ul>
    <!-- using backref/ relationship to get to user fb -->
    {%if user.feedback%} {%for fb in user.feedback%}
    <li><a href="/feedback/{{fb.id}}/update">{{fb.title}}</a></li>
    <p>Content:{{fb.content}}</p>
    <form action="/feedback/{{fb.id}}/delete" method="post">
      <button type="submit">Delete Post</button>
    </form>
    {%endfor%}
  </ul>
  {%else%}
  <p>No feedback yet!</p>

  {%endif%}
</div>
<!-- Content if user is NOT logged in -->

{%else%}

<li><a href="/login">Login</a></li>

{%endif%}
<!-- closing page -->
{%endblock%}
